/* ==================FONTS========================== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}
/* ==============INDEX===================================================================== */
/* ======ID'S====== */
#login{
    display: block;
    background-color: rgba(110, 130, 219, 0.438);
    border-radius: 2rem;
    margin-left: 38rem;
    margin-top: 2rem;
    margin-right: 38rem;
    margin-bottom: 2rem;
}

