/* ==================FONTS========================== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap');
/* ==============ETIQUETAS================== */
body{
    font-family: 'Raleway', sans-serif;
    background-color: rgba(219, 110, 110, 0.438);
}
/* ======ID'S====== */
#bodytwo{
    display: block;
    background-image:url(estrellas.jpg);
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    border-style: solid;
    border-color: rgb(219, 134, 110);
   
}
#bodyfour{
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    border-style: solid;
    border-color: rgb(219, 110, 110);
 
}
/********************/
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.legend{
    font-family: cursive;
    font-size: x-large;
    color: rgb(255, 4, 171);
}
.form{
    background-image:url(estrellas.jpg);
}